

/* Extra big Screens  1600px*/

@media only screen and (max-width: 1600px) {
    .all-movies {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;    
    }

    .coming-soon-movies {
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

}


/* big Screens  1300px*/

@media only screen and (max-width: 1300px) {
    .tinyslide figure img {
        width: 1200px;
    }

    .tinyslide .navigator {
        bottom: 10%;
    }
    .small-poster-box {
        min-height: 26vh;
    }
    .calendar-day-box {
        margin: 0 10px;
    }
    .modal {
        max-width: 40%;
    }
}



/* big phones to 1200px */

@media only screen and (max-width: 1200px) {
    .main-nav {
        font-size: 14px;
    }
    .tinyslide img {
        margin: 0 auto;
        max-width: 700px;
        height: auto;
    }
    .movie-info h1 {
        font-size: 24px;
    }

    .movie-info p {
        font-size: 14px;
    }
    .imdb-rating {
        font-size: 14px;
    }
    .watch-treiler {
        font-size: 13px;
        padding: 5px 15px;
    }
    .tinyslide .navigator ul li {
        width: 10px;
        height: 10px;
    }
    .single-movie-carousel {
        max-width: 250px;
    }
    .carousel-img {
        min-width: 250px;
    }
    .single-movie-carousel::after {
        content: '';
        max-width: 100%;
        height: 71%;
    }

    .imdb-rating-carousel {
        position: absolute;
        font-size: 50%;
        bottom: 35%;
    }
    .movies-now {
        font-size: 20px;
        left: 2%;
    }
    .movie-title-carousel-geo{
        font-size: 17px;
    }
    .movie-title-carousel-en {
        font-size: 14px;
    }
    .dots {
        right: 1%;
        width: 10px;
        height: 10px;
        font-size: 20px;
    }
    .koton-ad-box img {
        max-width: 700px;
    }
    .all-movies-title {
        font-size: 20px;
        left: 3.3%;
    }
    .all-movies {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;    
    }

    .all-movies-box::after {
        content: '';
        width: 100%;
        min-height: 50%;
    }
    .carousel-img {
        width: 200px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 3.3%;
    }
    .coming-soon-movies {
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    .small-poster-image {
        width: 300px;
        height: 200px;
    }
    .calendar-days {
        position: relative;
        left: 4%;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .small-poster-box {
        top:48%
    }
}

/*  1023px - 1078px */

@media only screen and (max-width: 1078px) {
    .tinyslide {
        min-height: 30vh;
    }


    .movies-now {
        left: 5%;
    }

    .all-movies {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
    }
    .coming-soon-movies {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .all-movies-box {
        margin: 10px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        /* height:auto ; */
        border-top: 10px;
        margin-bottom: 25px;
    }

    .all-movies-box::after {
        content: '';
        width:100%;
        height: 72%;
    }

    .all-movies-title {
        position: absolute;
        top:3%;
        left: 7%;
        font-size: 19px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 7%;
        top: 3%;
        font-size: 19px;
    }

    .small-poster-box {
        min-height: 20vh;
    }
    .small-poster-image {
        height: 230px;
    }

    .poster-movie-title {
        font-size: 100%;
    }
    .small-poster-description {
        font-size: 80%;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 50%;
    }
    .date-text {
        left: 5%;
    }
    .modal {
        max-width: 50%;
    }
}




/* Small tablets to big tablets from 767px to 940px */

@media only screen and (max-width: 941px) {
    .tinyslide .navigator {
        bottom: 50px;
    }
    .tinyslide {
        min-height: 60vh;
    }
    .small-poster-box {
        top:50%;
    }

    .calendar-days {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .calendar-day-box {
        margin-bottom: 20px;
    }

}
/* Small tablets to big tablets from 767px to 863px */

@media only screen and (max-width: 863px) {
    
    .tinyslide {
        min-height: 50vh;
    }

    .all-movies-title {
        position: absolute;
        top:3%;
        left: 4.5%;
        font-size: 19px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 5%;
        top: 3%;
        font-size: 19px;
    }
    .movies-now {
        left: 3%;
    }
    .small-poster-box {
        top:45%;
    }
    .small-poster-image {
        height: 200px;
    }
    .btn-genre {
        padding: 3px 13px;
        font-size: 10px;
    }

    .single-time-button {
        grid-template-columns: 120px 120px 120px 120px 120px;
    }
    .small-poster-image {
        width: 300px;
        height: 200px;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 45%;
    }
}


/* Small phones and tablets from 480px to 781px */

@media only screen and (max-width: 781px) {
    .tinyslide {
        min-height:45vh ;
    }
    .tinyslide .navigator {
        bottom: 100px;
        left: 85%;
    }
    .premiere-container img {
        max-width: 100%;
        width: 90px;
        height: auto;
    
    }

    .movies-now {
        left: 1%;
    }
    .coming-soon-movies {
        justify-content: center;
        grid-template-columns: 1fr 1fr; 
    }
    .all-movies {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;    
    }
    .all-movies-title {
        position: absolute;
        top:3%;
        left: 11%;
        font-size: 19px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 11%;
        top: 3%;
        font-size: 19px;
    }
    .small-poster-box {
        top:45%;
    }
    .small-poster-image {
        display: none;
    }
    .calendar {
        margin-top: 150px;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 30%;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .single-time-button {
        grid-template-columns: 120px 120px 120px 120px;
    }
    .modal {
        max-width: 60%;
    }
}

/* Small phones 699px */

@media only screen and (max-width: 699px) {
    .tinyslide figure img {
        width: 500px;
    }
    .koton-ad-box img {
        width: 600px;
    }

    .movie-info {
        position: relative;
        bottom: -50px;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .single-time-button {
        grid-template-columns: 120px 120px 120px 120px;
    }
}


/* Small phones  659px */

@media only screen and (max-width: 659px) {
    .tinyslide .navigator {
        bottom: 90px;
    }

    .carousel-section {
        padding: 40px 0;
    }

    .movies-now {
        top: -6%;
        left: 6%;
    }

    .all-movies-title {
        position: absolute;
        top:2%;
        left: 8%;
        font-size: 19px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 8%;
        top: 3%;
        font-size: 19px;
    }
    .coming-soon-movies {
        padding-top:80px ;
    }
    .small-poster-box {
        top: 27%;
    }
    .small-poster-box {
        top:45%
    }
    
}

/* Small phones  587px */

@media only screen and (max-width: 587px) {
    .tinyslide {
        min-height: 43vh;
    }
    .tinyslide .navigator {
        bottom: 80px;
    }
    .koton-ad-box img {
        width: 400px;
    }
    .google-map iframe {
        min-width: 100%;
        height: 200px;
        width: 300px;
    }
    .premiere-container img {
        max-width: 100%;
        width: 100px;
        height: auto;
    
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 40%;
    }
    .date-text {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
    .calendar-days {
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%);
    }
    .single-time-button {
        grid-template-columns: 120px 120px 120px;
    }
    .watch-movie-time-title {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
    .single-time-button {
        justify-content: center;
        align-items: center;
    }
    .movie-watch-times {
        margin: 0 auto;
    }
    .modal {
        max-width: 70%;
    }
}

/* Small phones  520px */

@media only screen and (max-width: 520px) {
    .tinyslide {
        min-height: 40vh;
    }
    .tinyslide .navigator {
        bottom: 90px;
        left: 80%;
    }
    .tinyslide figure img {
        width: 300px;
    }
    .all-movies {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;    
    }
    .coming-soon-movies {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr; 
    }

    .movies-now {
        top: -6%;
        left: 40%;
    }

    .all-movies-title {
        position: absolute;
        top:1%;
        left: 38%;
        font-size: 19px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 30%;
        top: 1.5%;
        font-size: 19px;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 15%;
    }
    .modal {
        max-width: 80%;
    }
}

/* Small phones from 0px to 480px */

@media only screen and (max-width: 480px) {
    .tinyslide {
        min-height: 35vh;
    }

    .tinyslide .navigator {
        bottom: 60px;
    }

    .movie-info h1 {
        font-weight: 300;
        font-size: 100%;
        margin-bottom: 10px;
    }
    
    
    .movie-info p {
        font-size: 100%;
        margin-bottom: 10px;
    }

    .watch-treiler {
        color: white;
        background-color: rgb(248, 163, 44);
        font-size: 12px;
        padding: 5px 15px;
        border: 0;
        border-radius: 5px;
        outline: 0;
        cursor: pointer;
    }


    .all-movies-title {
        position: absolute;
        top:1.3%;
        left: 37%;
        font-size: 18px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 28%;
        top: 1.5%;
        font-size: 19px;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 10%;
    }
    .modal {
        max-width: 90%;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Small phones 418px */

@media only screen and (max-width: 418px) {
    .nav-links li a {
        display: none;
    }
    .nav-links .fa-bars {
        display: block;
    }
    .tinyslide {
        min-height: 30vh;
    }
    .tinyslide .navigator {
        bottom: 70px;
        left: 78%;
    }
    .premiere-container img {
        max-width: 100%;
        width: 70px;
        height: auto;
    }
    .tinyslide figure img {
        opacity: 0.4;
    }
    .movies-now {
        top: -3%;
        left: 38%;
    }
    .single-movie-carousel {
        max-width:450px ;
    }
    .koton-ad-box img {
        width: 300px;
    }
    .all-movies-box img{
        max-width: 100%;
        width: 450px;
    } 

    .all-movies {
        padding-left: 10px;
        padding-right: 10px;
    }

    .all-movies-title {
        position: absolute;
        top:1.3%;
        left: 33%;
        font-size: 18px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 25%;
        top: 1.5%;
        font-size: 19px;
    }
    .movie-address {
        text-align: center;
        font-size: 80%;
    }
    .phone {
        font-size: 80%;
        padding:10px;
    }

    .fab {
        font-size: 18px;
        padding:10px;
    }
    .imdb-rating-carousel {
        bottom: 29%;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .single-time-button {
        grid-template-columns: 120px 120px;
    }

    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 55%;
    }
    .small-poster-description {
        align-items: center;
    }
    .actual-description {
        display: none;
    }
    .modal {
        min-width: 100%;
    }
    .genre-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-genre {
        margin: 0 10px;
    }
    .social-icons-poster {
        margin: 0 auto;
        justify-content: center;
    }
    .movie-poster-desc-title {
        display: none;
    }
}

/* Small phones 360px */

@media only screen and (max-width: 360px) {
    .nav-links li a {
        display: none;
    }
    .nav-links .fa-bars {
        display: block;
    }
    .tinyslide {
        min-height: 33vh;
    }
    .tinyslide .navigator {
        display: none;
    }
    .movie-info {
        text-align: center;
        left: 50%;
    }
    .koton-ad-box img {
        width: 300px;
    }
    .movies-now {
        top: -3%;
        left: 36%;
    }

    .all-movies-title {
        position: absolute;
        top:1.3%;
        left: 32%;
        font-size: 18px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 20%;
        top: 1.5%;
        font-size: 19px;
    }
    .single-movie-carousel {
        max-width:450px ;
    }
    .imdb-rating-carousel {
        bottom: 33%;
    }

    .single-time-button {
        grid-template-columns: 120px 120px;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr;
    }
    .poster-movie-title {
        min-width: 100%;
    }
    .small-poster-description {
        max-width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .btn-genre {
        margin: 5px;
    }
    .genre-box {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 48%;
        margin: 0 auto;
    }
    .movie-poster-desc-title {
        display: none;
    }
    .social-icons-poster {
        display: flex;
    }
    .actual-description {
        display: none;
    }
    .date-text {
        font-size: 130%;
    }
    .modal frame {
        width: 100px;
    }
    .modal-title {
        margin-top: 10px;
        font-size: 90%;
        margin-bottom: 20px;
    }
    .modal-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modal-movie-desc-box {
        text-align: center;
    }
    .modal-watch-treiler {
        margin-top: 10px;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr;
    }
}

/* Small phones 280px */

@media only screen and (max-width: 280px) {
    .tinyslide {
        min-height: 30vh;
    }
    .movie-info {
        top: 70px;
        left: 30%;
    }
    
    .tinyslide figure img {
        opacity: 0.4;
        width: 280px;
    }
    .movies-now {
        top: -6%;
        left: 33%;
    }
    
    .koton-ad-box img {
        width: 200px;
    }
    .google-map iframe {
        min-width: 100%;
        height: 100px;
        width: 200px;
    }
    .all-movies-title {
        position: absolute;
        top:1.3%;
        left: 27%;
        font-size: 18px;
    }

    .coming-soon-titie {
        font-size: 20px;
        left: 12%;
        top: 1.5%;
        font-size: 19px;
    }
    .calendar-days {
        grid-template-columns: 1fr 1fr;
    }
    .actual-description {
        display: none;
    }
    .small-poster-box {
        left: 50%;
        transform: translate(-50%);
        min-height: 25vh;
        width: 100%;
        top: 50%;
    }
    .poster-movie-title {
        max-width: 100%;
        text-align: center;
    }

    .genre-box {
        max-width: 100%;
    }
    .social-icons-poster {
        margin: 0 auto;
    }
    .movie-poster-desc-title {
        display: none;
    }
    .btn-genre {
        padding: 2px 7px;
    }
    .modal-title {
        margin-top: 10px;
        font-size: 90%;
        margin-bottom: 20px;
    }
    .modal-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modal-movie-desc-box {
        text-align: center;
    }
    .modal-watch-treiler {
        margin-top: 10px;
    }
}